{% extends "base.html" %}
{% load static %}
{% block style %}
<link href="{% static 'css/bootstrap-tables.css' %}" rel="stylesheet">
<link href="{% static 'css/editable.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    
     
<div id="toolbar">
</div>

<table id="table" 
     data-toggle="table"
     data-search="true"
     data-filter-control="true" 
     data-toolbar="#toolbar">
<thead>
  <tr>
    <th data-field="isemri" data-filter-control="select" data-sortable="true">İş Emri</th>
    <th data-field="altnikel" data-filter-control="select" data-sortable="true">Alt Nipel</th>
    <th data-field="bakir" data-filter-control="select" data-sortable="true">Bakır Membrane</th>
    <th data-field="ustnipel" data-filter-control="select" data-sortable="true">Üst Nipel</th>
    <th data-field="barometre" data-filter-control="select" data-sortable="true">Barometre</th>
    <th data-field="basinc" data-filter-control="select" data-sortable="true">Basınç Anahtarı</th>
    <th data-field="mekanik" data-filter-control="select" data-sortable="true">Mekanik Vatil</th>
  </tr>
</thead>
<tbody>
  <tr>
    
    <td>İş emri 1</td>
    <td>23687</td>
    <td>2738</td>
    <td>12/20</td>
    <td>2738</td>
    <td>3487</td>
    <td>14/20</td>
  </tr>
  <tr>
    <td>İs Emri 2</td>
    <td>2387623</td>
    <td>34324</td>
    <td>8/20</td>
    <td>343</td>
    <td>4324</td>
    <td>10/20</td>
  </tr>
  <tr>
    <td>İs Emri 2</td>
    <td>323</td>
    <td>356</td>
    <td>667</td>
    <td>45345</td>
    <td>1232</td>
    <td>13/32</td>
  </tr>
  
</tbody>
</table>
{% endblock %}
{% block script %}
<script src="{% static 'js/bootstrap-tables.js' %}"></script>
<script src="{% static 'js/editable.js' %}"></script>
<script src="{% static 'js/filter.js' %}"></script>
<script>
  //exporte les données sélectionnées
var $table = $('#table');
    $(function () {
        $('#toolbar').find('select').change(function () {
            $table.bootstrapTable('refreshOptions', {
                exportDataType: $(this).val()
            });
        });
    })

		var trBoldBlue = $("table");

	$(trBoldBlue).on("click", "tr", function (){
			$(this).toggleClass("bold-blue");
	});
</script>
{% endblock %}
