{% extends "base.html" %}
{% load static %}
{% block style %}
<link href="{% static 'css/bootstrap-tables.css' %}" rel="stylesheet">
<link href="{% static 'css/editable.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
    
     
<div id="toolbar">
</div>

<table id="table" 
     data-toggle="table"
     data-search="true"
     data-filter-control="true" 
     data-toolbar="#toolbar">
<thead>
  <tr>
    <th data-field="tur" data-filter-control="select" data-sortable="true">Basınç Anahtarı</th>
    <th data-field="yapan" data-filter-control="select" data-sortable="true">Testi Yapan</th>
    <th data-field="seri_no" data-filter-control="select" data-sortable="true">Seri No</th>
    <th data-field="acma" data-filter-control="select" data-sortable="true">Açma</th>
    <th data-field="kapatma" data-filter-control="select" data-sortable="true">Kapatma</th>
    <th data-field="zaman" data-filter-control="select" data-sortable="true">Test Zamanı</th>
  </tr>
</thead>
<tbody>
  {% for test in testler %}
        <tr>
          <td>{{ test.tur }}</td>
          <td>{{ test.testi_yapan }}</td>
          <td>{{ test.seri_no }}</td>
          <td>{{ test.acma }}</td>
          <td>{{ test.kapatma }}</td>
          <td>{{ test.test_tarihi }}</td>
        </tr>
  {% endfor %}
</tbody>
</table>

{% endblock %}
{% block script %}
<script src="{% static 'js/bootstrap-tables.js' %}"></script>
<script src="{% static 'js/filter.js' %}"></script>
<script>
  
var $table = $('#table');
    $(function () {
        $('#toolbar').find('select').change(function () {
            $table.bootstrapTable('refreshOptions', {
                exportDataType: $(this).val()
            });
        });
    })

		var trBoldBlue = $("table");

	$(trBoldBlue).on("click", "tr", function (){
			$(this).toggleClass("bold-blue");
  });
  //tablo search input için klavye açtırmak için
  setTimeout(()=>{document.querySelector('.search>input').classList.add('textinput')},500)
  
</script>
{% endblock %}
