{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block style %}
<style>
    tbody tr:hover{
        background: rgba(217, 217, 217, 0.4);
    }
</style>
<style>
    
  .simple-keyboard {
/*max-width: 850px;*/
    position:fixed;
        bottom:0px;
        left:0px;
        right:0px;
        margin-bottom:0px;
    width: 100%;
    opacity: 0;
    transition: margin-top 0s ease-in-out 0.3s, opacity 0.3s ease-in-out;
    z-index:9999;
    height: 230px;
    display: none;
}

.show-keyboard {
display : block;
opacity: 1;
margin-top: 0;
}

.hg-button span {
pointer-events: none;
}

</style>
<link href="{% static 'css/skeyboard.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="card">
  <div class="card-header"  style="color: #c7ae3c;background-color: #2f4050; font-size: 20px;">
    Kullanıcı Ekleme
  </div>
  <div class="card-body">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
      {% endfor %}
    {% endif %}
<form action="" method="POST">
  {% csrf_token %}
  <div class="form-row">
    <div class="form-group col-md-6 mb-0">{{ form.username|as_crispy_field }}</div>
    <div class="form-group col-md-6 mb-0">{{ form.first_name|as_crispy_field }}</div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6 mb-0">{{ form.last_name|as_crispy_field }}</div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6 mb-0">{{ form.password1|as_crispy_field }}</div>
    <div class="form-group col-md-6 mb-0">{{ form.password2|as_crispy_field }}</div>
  </div>
  <button type="submit" class="btn btn-success">Kaydet</button>
</form>
</div>
</div>


<div class="card mt-4">
  <div class="card-header"  style="color: #c7ae3c;background-color: #2f4050; font-size: 20px;">
    Kullanıcılar Tablosu
  </div>
  <div class="card-body">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>İsim</th>
        <th>Tel</th>
        <th>DTMF</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
</div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <form action="#" enctype="multipart/form-data" method="POST">
            <div class="form-group">
              <label for="name">Name:</label>
              <input type="name" class="form-control" id="name" placeholder="Enter name">
            </div>
            <div class="form-group">
              <label for="phone">Phone:</label>
              <input type="phone" class="form-control" id="phone" placeholder="Enter phone">
            </div>
            <div class="form-group">
              <label for="dtmf">DTMF:</label>
              <input type="dtmf" class="form-control" id="dtmf" placeholder="Enter dtmf">
            </div>
            <button type="submit" class="btn btn-success">Save</button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
{% block script %}
<script>
  document.getElementById('hint_id_password1').remove();
  document.getElementById('hint_id_password2').remove();
  for (let i = 0; i < document.getElementsByClassName('textinput').length; i++) {
    const element = document.getElementsByClassName('textinput')[i];
    element.setAttribute("autofocus","off")
  }
</script>
<script src="{% static 'js/skeyboard.js' %}"></script>
<script>

let Keyboard = window.SimpleKeyboard.default;
let selectedInput;

let keyboard = new Keyboard({
  onChange: input => onChange(input),
  onKeyPress: button => onKeyPress(button)
});

document.querySelectorAll(".textinput").forEach(input => {
  input.addEventListener("focus", onInputFocus);
  // Optional: Use if you want to track input changes
  // made without simple-keyboard
  input.addEventListener("input", onInputChange);
});


var els = document.querySelectorAll(".textinput");
for (let i = 0; i < els.length; i++) {
  const element = els[i];
  element.addEventListener("focus", event => {
    //keyboard.keyboardDOM.style.top = window.scrollY + screen.availHeight - 330 + "px";
    keyboard.keyboardDOM.classList.add("show-keyboard");
  });
}



document.addEventListener("click", event => {
  if (
    // Target is not keyboard element
    event.target !== keyboard.keyboardDOM &&
    // Target is not the input
    !event.target.classList.contains('textinput') &&
    // Target is not a keyboard button
    !event.target.classList.contains("hg-button")
  ) {
    hideKeyboard();
  }
});





function onInputFocus(event) {
  selectedInput = `#${event.target.id}`;

  keyboard.setOptions({
    inputName: event.target.id
  });
}

function onInputChange(event) {
  keyboard.setInput(event.target.value, event.target.id);
}

function onChange(input) {
  console.log("Input changed", input);
  document.querySelector(selectedInput || ".textinput").value = input;
}

function onKeyPress(button) {
  console.log("Button pressed", button);

  /**
   * Shift functionality
   */
  if (button === "{lock}" || button === "{shift}") handleShiftButton();
}

function handleShiftButton() {
  let currentLayout = keyboard.options.layoutName;
  let shiftToggle = currentLayout === "default" ? "shift" : "default";

  keyboard.setOptions({
    layoutName: shiftToggle
  });
}




function showKeyboard() {
  keyboard.keyboardDOM.classList.add("show-keyboard");
}

function hideKeyboard() {
  keyboard.keyboardDOM.classList.remove("show-keyboard");
}

</script>
<script>
    var data = [{
  "id": 1,
  "Name": "Kamba",
  "Phone": "30-(541)656-1685",
  "DTMF": 757
}, {
  "id": 2,
  "Name": "Feedmix",
  "Phone": "967-(362)975-4248",
  "DTMF": 198
}, {
  "id": 3,
  "Name": "Thoughtstorm",
  "Phone": "358-(619)930-2339",
  "DTMF": 252
}, {
  "id": 4,
  "Name": "Shufflebeat",
  "Phone": "86-(776)437-7364",
  "DTMF": 689
}, {
  "id": 5,
  "Name": "Reallinks",
  "Phone": "55-(689)180-3162",
  "DTMF": 173
}, {
  "id": 6,
  "Name": "Digitube",
  "Phone": "1-(504)256-2986",
  "DTMF": 799
}, {
  "id": 7,
  "Name": "Nlounge",
  "Phone": "62-(928)582-6766",
  "DTMF": 477
}, {
  "id": 8,
  "Name": "Aimbu",
  "Phone": "33-(573)429-4209",
  "DTMF": 445
}, {
  "id": 9,
  "Name": "Mydo",
  "Phone": "370-(167)136-2174",
  "DTMF": 854
}, {
  "id": 10,
  "Name": "Tagcat",
  "Phone": "46-(159)429-8509",
  "DTMF": 859
}];
/* 
Dynamic creation of table is not the best practice...
Better way to clone existing table and fill it with data.
*/
$(data).each(function(i, elem) {
  $('.table').append('<tr><td>' + elem['Name'] +
    '</td><td>' + elem['Phone'] + '</td><td>' +
    elem['DTMF'] + '</td><td>' +
    '\
<a href="#edit=' + elem['id'] + '" class="btn btn-success btn-xs" data-toggle="modal" data-target="#myModal"> \
      <span class="fa fa-edit"></span>\
    </a> \
<a href="#delete=' + elem['id'] + '" class="btn btn-danger btn-xs"> \
      <span class="fa fa-trash-o"></span>\
    </a> \
                     </td></tr>')
});

$('.btn-success').on('click', function(){
  // Get all TD from the cliked Button
  var td = $(this).parents('tr').find('td:lt(3)');
  // $td.each(function(i){
  // Only the $() makes this td Object of DOM
    $('#name').val($(td[0]).text());
    $('#phone').val($(td[1]).text());
    $('#dtmf').val($(td[2]).text());
  // })
});

// Delete Button Done!!!
$('.btn-danger').on('click', function(){
  $(this).parents('tr').remove();
})

</script>
{% endblock %}