{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block style %}
<link href="{% static 'css/bootstrap-tables.css' %}" rel="stylesheet">
<style>
    
  .simple-keyboard {
/*max-width: 850px;*/
    position:fixed;
        bottom:0px;
        left:0px;
        right:0px;
        margin-bottom:0px;
    width: 100%;
    opacity: 0;
    transition: margin-top 0s ease-in-out 0.3s, opacity 0.3s ease-in-out;
    z-index:9999;
    height: 230px;
    display: none;
}

.show-keyboard {
display : block;
opacity: 1;
margin-top: 0;
}

.hg-button span {
pointer-events: none;
}

</style>
<style>


</style>
<link href="{% static 'css/skeyboard.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="card">
  <div class="card-header"  style="color: #c7ae3c;background-color: #2f4050; font-size: 20px;">
    Kullanıcı Ekleme
  </div>
  <div class="card-body">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
      {% endfor %}
    {% endif %}
<form action="" method="POST">
  {% csrf_token %}
  <div class="form-row">
    <div class="form-group col-md-6 mb-0">{{ form.username|as_crispy_field }}</div>
    <div class="form-group col-md-6 mb-0">{{ form.first_name|as_crispy_field }}</div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6 mb-0">{{ form.last_name|as_crispy_field }}</div>
    <div class="form-group col-md-6 mb-0" style="display: none;">{{ form.zaman|as_crispy_field }}</div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6 mb-0">{{ form.password1|as_crispy_field }}</div>
    <div class="form-group col-md-6 mb-0">{{ form.password2|as_crispy_field }}</div>
  </div>
  <button type="submit" class="btn btn-success">Kaydet</button>
</form>
</div>
</div>


<div class="card mt-4">
  <div class="card-header"  style="color: #c7ae3c;background-color: #2f4050; font-size: 20px;">
    Kullanıcılar Tablosu
  </div>
  <div class="card-body">

    <table id="kullaniciTablosu" 
    data-toggle="table"
    data-search="true"
    data-filter-control="true" 
    data-toolbar="#toolbar">
<thead>
 <tr>
   <th data-field="isemri" data-filter-control="select" data-sortable="true">İsim</th>
   <th data-field="tarih" data-filter-control="select" data-sortable="true">Soyisim</th>
   <th data-field="kullanici" data-filter-control="select" data-sortable="true">Kullanıcı adı</th>
   <th data-field="tarih" data-filter-control="select" data-sortable="true">Kayıt Tarihi</th>
   <th data-field="operasyonlar">Operasyonlar</th>
 </tr>
</thead>
<tbody>
  {% for kullanici in kullanicilar %}
    <tr>
      <td>{{ kullanici.first_name }}</td>
      <td>{{ kullanici.last_name }}</td>
      <td>{{ kullanici.username }}</td>
      <td>{{ kullanici.zaman }}</td>
      <td></td>
    </tr>
  {% endfor %}
</tbody>
</table>

</div>
</div>

{% endblock %}
{% block script %}
<script>
  document.getElementById('hint_id_password1').remove();
  document.getElementById('hint_id_password2').remove();
  for (let i = 0; i < document.getElementsByClassName('textinput').length; i++) {
    const element = document.getElementsByClassName('textinput')[i];
    element.setAttribute("autofocus","off")
  }
</script>

<script src="{% static 'js/bootstrap-tables.js' %}"></script>

<script>
  $(document).ready(function(){
    $('#kullaniciTablosu').DataTable({
      "paging": true,
      "autoWidth": true,
      "columnDefs": [{
        targets: -1,
        data : null,
        defaultContent : ""
      }],
      "buttons": [
          'csvHtml5',
          'excelHtml5',
          'pdfHtml5',
          'print'
        ]
    });
  })
  
</script>
<script src="{% static 'js/skeyboard.js' %}"></script>
<script>

let Keyboard = window.SimpleKeyboard.default;
let selectedInput;

let keyboard = new Keyboard({
  onChange: input => onChange(input),
  onKeyPress: button => onKeyPress(button)
});

document.querySelectorAll(".textinput").forEach(input => {
  input.addEventListener("focus", onInputFocus);
  // Optional: Use if you want to track input changes
  // made without simple-keyboard
  input.addEventListener("input", onInputChange);
});


var els = document.querySelectorAll(".textinput");
for (let i = 0; i < els.length; i++) {
  const element = els[i];
  element.addEventListener("focus", event => {
    //keyboard.keyboardDOM.style.top = window.scrollY + screen.availHeight - 330 + "px";
    keyboard.keyboardDOM.classList.add("show-keyboard");
  });
}



document.addEventListener("click", event => {
  if (
    // Target is not keyboard element
    event.target !== keyboard.keyboardDOM &&
    // Target is not the input
    !event.target.classList.contains('textinput') &&
    // Target is not a keyboard button
    !event.target.classList.contains("hg-button")
  ) {
    hideKeyboard();
  }
});





function onInputFocus(event) {
  selectedInput = `#${event.target.id}`;

  keyboard.setOptions({
    inputName: event.target.id
  });
}

function onInputChange(event) {
  keyboard.setInput(event.target.value, event.target.id);
}

function onChange(input) {
  console.log("Input changed", input);
  document.querySelector(selectedInput || ".textinput").value = input;
}

function onKeyPress(button) {
  console.log("Button pressed", button);

  /**
   * Shift functionality
   */
  if (button === "{lock}" || button === "{shift}") handleShiftButton();
}

function handleShiftButton() {
  let currentLayout = keyboard.options.layoutName;
  let shiftToggle = currentLayout === "default" ? "shift" : "default";

  keyboard.setOptions({
    layoutName: shiftToggle
  });
}




function showKeyboard() {
  keyboard.keyboardDOM.classList.add("show-keyboard");
}

function hideKeyboard() {
  keyboard.keyboardDOM.classList.remove("show-keyboard");
}

</script>

{% endblock %}